
html, body {
  margin: 0px;
  padding: 0px;
  background-color: black;
  color: white;
}

div.container-fluid {
  background-color: rgb(36, 36, 36);
}

#itemContainer {
  min-height: 160px;
}

span.iconlarge {
  background-color: inherit;
  display: block;
  width: 120px;
  height: 120px;
}

span.iconlarge > ins {
  background-size: cover;
  border-radius: 25px;
  width: 105px;
  height: 110px;
}

span.iconlarge > del {
  background-size: cover;
  width: 120px;
  height: 120px;
}

span.iconlarge + span {
  background-color: inherit;
  display: block;
  font-size: 20pt;
}

div.grid-debug {
  border: 1px solid cyan;
  background-color: magenta;
}
